.thumbnail {
    width: 100%;
}

.video-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.video-author,
.video-stats {
    color: gray;
    font-size: 12px;
}

.video-author {
    margin-top: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-pic {
    width: 40px;
    border-radius: 50%;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}